@using BankApp.Models
@model Customer

<h1>Delete Customer</h1>

<form asp-controller="Customer" asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerID" />
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
    <p>Are you sure you want to delete this customer?</p>
    <button type="submit">Yes</button>
    <a asp-controller="Customer" asp-action="Index">No</a>
</form>